= partial "partials/header"
a name="top"
= partial 'partials/top'
= partial 'partials/intro'

.callout-a
a name="rooms"
= partial 'partials/rooms'

.callout-b
= partial 'partials/house'

a name="reservations"
= partial 'partials/prices'
= partial 'partials/contact_form'

.callout-c
= partial 'partials/vejer'

a name="contact"
= partial 'partials/address'
= partial 'partials/map'