= partial "header"
a.anchor name="top"
= partial 'top', locals: { v: "" }
= partial 'intro'

.callout-a
a.anchor name="rooms"
= partial 'rooms', locals: { v: "" }

.callout-b
= partial 'house', locals: { v: "" }

a.anchor name="reservations"
= partial 'prices'
= partial 'contact_form'
/ # = partial 'contact_form_source.html.erb'

.callout-c
= partial 'vejer', locals: { v: "" }

a.anchor name="contact"
= partial 'address'
= partial 'map'

