/ # = partial "partials/header"
/ a.anchor name="top"
= partial 'partials/top'
= partial 'partials/intro'
= partial 'partials/house'
/ a.anchor name="rooms"
= partial 'partials/rooms'
= partial 'partials/prices'

/ a.anchor name="reservations"
= partial 'partials/contact_form'
/ a.anchor name="contact"
= partial 'partials/address'

/ # = partial 'partials/map'