---
layout: mobile
---

= partial 'partials/intro_mobile', locals: { v: "m" }
= partial 'partials/house', locals: { v: "m" }
= partial 'partials/prices', locals: { v: "m" }

= partial 'partials/rooms', locals: { v: "m" }

= partial 'partials/contact_form', locals: { v: "m" }
= partial 'partials/address', locals: { v: "m" }
