---
layout: mobile
---

= partial 'partials/top_mobile'
= partial 'partials/intro'
= partial 'partials/house_m'
= partial 'partials/prices'

= partial 'partials/rooms_m'

= partial 'partials/contact_form'
= partial 'partials/address'
