= partial "partials/header"
= partial 'partials/top'
= partial 'partials/intro'

.callout-rooms
a name="rooms" &nbsp;
= partial 'partials/rooms'
.callout-house
= partial 'partials/house'

a name="reservations" &nbsp;
= partial 'partials/prices'
= partial 'partials/contact_form'

.callout-vejer
= partial 'partials/vejer'

a name="contact" &nbsp;
= partial 'partials/address'