= partial "partials/header"
a name="top"
= partial 'partials/top'
= partial 'partials/intro'

.callout-rooms
a name="rooms"
= partial 'partials/rooms'
.callout-house
= partial 'partials/house'

a name="reservations"
= partial 'partials/prices'
= partial 'partials/contact_form'

.callout-vejer
= partial 'partials/vejer'

a name="contact"
= partial 'partials/address'